.header {
  margin-bottom: 10px;
  padding: 20px 30px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.link {
  font-weight: 600;
  color: rgb(20, 20, 20);
  text-decoration: none;
  &:not(:last-child) {
    margin-right: 10px;
  }
  &:hover {
    border-bottom: 2px solid currentColor;
  }
  &:global(.active) {
    color: rgb(231, 113, 113);
  }
}
